mkmf.log
.DS_Store
log/*
tmp/*
TAGS
*~
.#*
schema/schema.rb
schema/*_structure.sql
schema/*.sqlite3
schema/*.sqlite
schema/*.db
*.sqlite
*.sqlite3
*.db
.hgignore
.hg/*
.svn/*
merb_profile_results
config/database.yml
config/resque.yml
config/mail.yml
config/email_config.rb
config/database.yml
bin/*
public/ebooks/*
public/covers/*
